body{
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;

    background-color: rgb(151, 217, 162);
}

#tabla{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 1em;

  
}

h3{
    border: 0.15em inset black;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0;
    padding: 0.5em;
 
}

.head{
    background-color: rgb(4, 79, 4);
    color: #fff;
}

ul{
margin: 0;
padding: 0;
color: black;

}
li{
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    border: 0.15em inset black;
    padding: 0.5em;
    background-color: rgb(76, 187, 76);
    /* width: 100bw; */
    
}

#special{
    display: flex;
    height:3.62em;
}